.intro-section {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  height: 500px;
}

.info {
  flex: 1 1 300px;
  min-width: 250px;
  text-align: right;
}

.profile-image {
  flex: 0 0 350px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image img {
  height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

/* When content wraps to a column layout */
@media (max-width: 1200px) {
  .info {
    text-align: left;
  }
}

@media (max-width: 760px) {
  .intro-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .profile-image {
    order: -1; /* Move image to top */
    width: 100%;
    height: auto;
    justify-content: right;
  }

  .profile-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .info {
    text-align: left;
  }
}